<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<!-- define basic properties -->
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} [LOG] --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>        
        <Property name="APP_LOG_ROOT">c:/temp</Property>        
    </Properties>
    
    <!-- define the appenders -->
    <Appenders>    
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">        
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>                
        <RollingFile name="fileLogger" fileName="app-info.log" filePattern="app-info-%d{yyyy-MM-dd}.log">        	
            <Filters>
	            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>                
    </Appenders>
    
    <!-- need to add the appenders to the logger to specify the logging mechanism -->
    <Loggers>
        <Logger name="com.example.log4j2demo" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="fileLogger" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="fileLogger" />
        </Root>
    </Loggers>
</Configuration>